venv
.idea
*.pyc
*.aux
*.bbl
Code/Dataset/SARC/*
*.csv
*.json
*.html
Code/Dataset/SarcasmAmazonReviewsCorpus/Ironic
Code/Dataset/SarcasmAmazonReviewsCorpus/Regular
Code/WordEmbedding/Practice_Dataset/*
!Code/Dataset/SARC/train-balanced-sarcasm.png
GLOVEDATA
/Code/Code/Datasets/*
