venv
.idea
*.pyc
*.aux
*.bbl
*.csv
*.json


GLOVEDATA
Code/stanford-corenlp-full-2018-10-05
Code/TrainedModels/*

Code/pkg/datasets/**/processed_data/*.csv
Code/pkg/datasets/**/processed_data/**/*.pckl


Code/pkg/datasets/**/raw_data/*

Code/pkg/language_models/*
Code/pkg/trained_models/*
!Code/pkg/trained_models/attention-bi-lstm_with_elmo_on_2.h5
!Code/pkg/datasets/amazon_reviews/processing_scripts/*
!Code/pkg/datasets/**/raw_data/*.md
!Code/pkg/language_models/*.md
!Code/pkg/language_models/**/*.md
